@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family:
    /* 圓體 */
    'cwTeXYen',
    /* Safari for OS X and iOS */
    -apple-system,
    /* Chrome >= 56 for OS X , Windows, Linux and Android */
    system-ui,
    /* Chrome < 56 for OS X */
    BlinkMacSystemFont,
    /* Windows */
    "Segoe UI",
    /* Android */
    "Roboto",
    /* Basic web fallback */
    "Helvetica Neue", Arial, sans-serif;
}

a {
    font-size: 1.1rem;
}

p {
    font-size: 1.5rem;
}

.btn .btn-danger {
    color: #c94f7c;
}

#brand-text {
    font-size: 1.2rem;
    font-style: bold;
}

.nav-link {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0);
}

.nav-link:hover, .nav-link:focus {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.276);
}

@media (min-width: 992px) {
    #banner {
        height: 91.2%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-color: antiquewhite;
    }
}

@media (max-width: 991px) {
    #banner {
        height: 200%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-color: antiquewhite;
    }
}

@media (min-width: 992px) {
    #banner-background-content {
        height: 100%;
        text-align: center;
    }
}

@media (max-width: 991px) {
    #banner-background-content {
        height: 53%;
        text-align: center;
        background-color: #c94f7c;
    }
}

#banner-text-background-content {
    background-color: rgba(255, 128, 171, 0.9);
}

@media (min-width: 992px) {
    #banner-title {
        font-size: 4rem;
        color: rgb(253, 238, 238);
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
        margin-right: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 991px) and (min-width: 780px) {
    #banner-title {
        font-size: 3.5rem;
        color: rgb(253, 238, 238);
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width: 779px) {
    #banner-title {
        font-size: 3.5rem;
        color: rgb(253, 238, 238);
        margin-top: 5rem;
        margin-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

#banner-subtitle {
    font-size: 1.3rem;
    color: rgb(253, 238, 238);
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#banner-button {
    color: rgb(48, 48, 48);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#banner-arrow {
    color: rgba(201, 79, 124);
    font-size: 2rem;
    margin-top: 1rem;
}

.drop-shadow {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}